<div class="row_background">
    
    
    <div class="background">
        
        <div class="img_p">
        <img src="https://firebasestorage.googleapis.com/v0/b/myloginapp-98f2d.appspot.com/o/files%2FLINE_ALBUM_%E0%B8%8A%E0%B9%87%E0%B8%AD%E0%B8%9B_%E0%B9%92%E0%B9%92%E0%B9%90%E0%B9%97%E0%B9%92%E0%B9%91_33.jpg?alt=media&token=7d12c4b5-878d-4162-8995-a3b091cdd5e0" alt="" width="350">


        <div class="fron">
            Natitorn Nuyai
        </div> 
<div class="line"></div><br>
        <div class="fron1">
            0825441649   </div>
        <div class="fron2">
            41 หมู่.1 ตำบล สันทราย อำเภอเมืองเชียงราย จังหวัดเชียงราย   </div>
        <div class="fron3">
            Nay Natitorn   </div>
        <div class="fron4">
            natitorn2543@gmail.com   </div><br>
<div class="line"></div><br>


     </div>


<div class="line1"></div>
<button class="button" routerLink="/product">เข้าสู่ระบบ</button>
  <div class="row">
        <div class="col-12 col-xl" style="padding: 12px;" *ngFor="let data of res let i = index">
            <div class="card">
                <h3 style="color: #000;margin-top: 10px;">{{res[i]}}</h3>
            </div>
        </div>
    </div>

    </div>
    </div>
  